

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/gallery.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
     <div class="navbar-header"> 
            
        <h1>Find a Furry Friend</h1>

        <h2>  Adoption Page </h2>

            <ul>
              <li>
               <a href="/homepage"> Homepage </a>
             </li>
              <li>
               <a href="/cats"> Cats </a>
             </li>
             <li>
              <a href="/homepage/#contact">Contact</a>
             </li>
            </ul>
      </div>
  </nav> 
<div class="well">
  <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
   </form>
</div>



<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 d-flex justify-content-center mb-5">
  
     
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/1805164/pexels-photo-1805164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal3" alt="Brown and white animal">
        This is Belle. She is 3 years old and is a mixed breed. Belle is very friendly with children and adults. Does well with other animals.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/2318990/pexels-photo-2318990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal1" alt="Brown Retriever mix">
        Meet Buster. He is a retriever mix and is 5 years old. Buster loves playing outdoors, is great with kids and other pets. Requires medication for joints.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/540524/pexels-photo-540524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal2" alt="Cream Retriever mix">
         Peppy is a lab mix and is 1 year old. Peppy is a very active and is great with kids.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/1078090/pexels-photo-1078090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal4" alt="Brown and white Boxer mix">
        This is Jasper. He is a boxer mix and is 2 years old. Too active for my parents, needs a home with children to play with!
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/1242419/pexels-photo-1242419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal5" alt="Black and brown Dobermin mix">
         Max is a retired guard animal looking for a new home. Very well trained, a good fit for a owner who runs for exercise. Take him along!
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/803766/pexels-photo-803766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal3" alt="Husky">
         Hazel is a great girl! A Husky, 1 year old, ready for a loving home. House and leash trained. Very loving, loves to snuggle and watch TV.
    </div>
    <!-- Grid column -->
    
     <!-- Grid column -->
     <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://images.pexels.com/photos/3568214/pexels-photo-3568214.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal3" alt="Black Lab">
          Meet Lucy! She is a black lab, 2 years old, and is house and leash trained. Lucy is a sweet girl, in need of lots of attention, only eats when you are sitting with her. Afraid of other animals.
      </div>
      <!-- Grid column -->

     <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://images.pexels.com/photos/2695827/pexels-photo-2695827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal1" alt="German Shephard">
          Meet Tank, a german shepherd with an intimidating bark. He is 3 years old and is very well behaved. Has lived in apartment, would like to place in a home with a big yard. He loves being outside.
      </div>
      <!-- Grid column --> 

       <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://images.pexels.com/photos/54386/pexels-photo-54386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/animal3" alt="Beagle">
          Meet Miss Mabel, a sweet beagle in need of a loving family. Very loving and playful. House and leash trained.
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row --> 
  
  