<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/gallery.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
     <div class="navbar-header"> 
            
        <h1>Find a Furry Friend</h1>

        <h2>  Adoption Page for Cats </h2>

            <ul>
              <li>
               <a href="/homepage"> Homepage</a>
             </li>
              <li>
               <a href="/animals">Animals</a>
             </li>
             <li>
              <a href="/homepage/#contact">Contact</a>
             </li>
            </ul>
      </div>
  </nav> 
<div class="well">
  <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
   </form>
</div>



<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12 d-flex justify-content-center mb-5">
  
      
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/1424687/pexels-photo-1424687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats3" alt="Black cat">
        Meet Jewel! This black cat will bring you nothing but good luck! She is very sweet and loving. We need to rehome her due to our child's allergies.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/2071882/pexels-photo-2071882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats1" alt="Tabby">
        Muffin is a very sweet kitten. She is almost 1 year, loves to play, and is great with kids. She will make a great addition to your family!
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/1770918/pexels-photo-1770918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats2" alt="Gray cat">
        This is Misty. Misty is 2 years old, a bit shy around young children.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/1485968/pexels-photo-1485968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats4" alt="White cat">
        Meet Dusty! He is almost 2 and is a smart cat. Loves to be outside, but comes in at night for snuggles.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="https://images.pexels.com/photos/2928158/pexels-photo-2928158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats5" alt="Gray and white cat">
       This is Oscar! Oscar is still a kitten, loves to play, snuggle and wants to be the center of your attention. He will make a great addition to your family.
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="https://images.pexels.com/photos/977935/pexels-photo-977935.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats3" alt="Black and white cat in tunnel">
       Meet Jezibel! She is just over 1 year. Jezibel is a sweet girl, but she is very afraid of animals. Would prefer to place her in a home without them. 
    </div>
    <!-- Grid column -->

     <!-- Grid column -->
     <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://images.pexels.com/photos/1687831/pexels-photo-1687831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats3" alt="Orange and white long hair">
         Just call him Joe. This sweet guy is in need of a loving home. He is a talkative cat, so you will always have someone to talk to. Is good with children and other pets.
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/img/Photos/Vertical/cats1" alt="Orange tabby">
         Meet Frank! Frank loves to eat and is currently on a special diet. We believe he is about 5 years old, is very friendly, loves to be petted.
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://images.pexels.com/photos/982300/pexels-photo-982300.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2img/Photos/Vertical/cats2" alt="Tan cat">
         Meet Miss Fancy! Look at those blue eyes! Fancy is 1 year old and a friendly cat who loves to be inside only. She is afraid of going outside and loud noises. A home without animals is preferred.
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row --> 
  