<html>
 <body>
<div class="row justify-space-between-md"></div>
 </div>
  <div class="login-card">
    <h2 class="page-title">Contact</h2>
    <form class="form contact-form">
      <div class="form-group">
        <label for="name-contact">Name:</label>
        <input class="form-input" type="text" id="name-contact" />
      </div>
      <div class="form-group">
        <label for="email-contact">Email:</label>
        <input class="form-input" type="text" id="email-contact" />
      </div>
      <div class="form-group">
        <label for="message-contact">Message:</label>
        <input class="form-input" type="text" id="message-contact" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>


 </body>
</html>