<link rel="stylesheet" type="text/css" href="./css/style.css">

{{!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header"> 
              
          <h1>Find a Furry Friend</h1>

          <h2>  Adoption Page for Cats and Animals </h2>

              <ul>
                <li>
                 <a href="/cats" target="_blank">Cats</a>
               </li>
                <li>
                 <a href="/animals" target="_blank">Animals</a>
               </li>
               <li>
                <a href="#contact">Contact</a>
               </li>
              </ul>
        </div>
    </nav> 
 --}}

<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>