<header class="top-header">

   
   </header>

   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header"> 
              
          <h1>Find a Furry Friend</h1>

          <h2>  Adoption Page for Cats and Dogs </h2>

              <ul>
                <li>
                 <a href="/cats" target="_blank">Cats</a>
               </li>
                <li>
                 <a href="/dogs" target="_blank">Dogs</a>
               </li>
               <li>
                <a href="#contact">Contact</a>
               </li>
              </ul>
        </div>
    </nav> 

    <!-- Left sidebar -->
<div class="container text-center">    
  <div class="row" id="userSelections">
    <div class="col-md-3 well">

{{!-- <!-- Find adoptable animals -->
      <div class="well">
        <input type="text" id="user-park" name= "user-park" placeholder="Find Adoptable Animals"/>
    </div> --}}

{{!-- Sign up or login button --}}
<div class="well">
          <a href="/login" target="_blank" class="btn btn-primary btn-block">Sign Up or Login</a>
       </div> 

  <!-- Submit button -->
<div class="well">
  <a href="submit" id="submitBtn" target="_blank" class="btn btn-primary btn-block">Donate</a>
</div>     

<div class="well">
<a href="https://twitter.com/ASPCA?s=20&t=_Ctw3NdFHwd6DjIbdUuQLA" class="aspca-follow-button btn-block" data-show-count="false">Follow @ASPCA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
</div> 

<div class="well">
  <div id="donations" class="card">
  <p style="font-size: 16px">
  Please mail or drop off donations at:
  <br>4005 River Run Drive, Greensboro, NC 27504</br>
  Thank you for your support!</p>
  </div>
</div>
  <div class="well">
  <div id="contact" class="card">
  <p style="font-size: 16px">Contact Information<br>
      Email: furrypets@gmail.com
      Phone: 919.555.2244 </p>
  </div>
</div>


<!-- Container to display featured furry friends
<div class="row">
  <div class="col-md-12">
    <div class=" well carousel slide" id="slides" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
        <li data-target="#slides" data-slide-to="4"></li>
        <!-- <li data-target="#slides" data-slide-to="5"></li>
        <li data-target="#slides" data-slide-to="6"></li> -->
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img  id="first-slide">
      </div>
        <div class="item">
          <img id="second-slide">
      </div>
      <div class="item">
        <img id="third-slide">
      </div>
      <div class="item">
        <img id="fourth-slide">
      </div>
      <!-- <div class="carousel-item">
        <img src="#5">
      </div>
      <div class="carousel-item">
        <img src="#6">
      </div> -->
    </div>
  </div> 


<!-- Container to display adoptable dogs -->
<div class="col-md-9">
  <div class="row">
  <div class="col-md-12">
    <div class="well" id="dogs">
      <h4 id="adoptable-dogs"></h4>
      <a href="/dogs"> 
      <img src="https://images.pexels.com/photos/46523/swiss-shepherd-dog-dog-white-animal-46523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="dog image">
      </a>
      <p id="dog-name"></p>
    </div>


<!-- Container to display adoptable cats -->
<div class="col-md-12">
  <div class="row">
  <div class="col-md-12">
    <div class="well" id="cats">
      <h3 id="adoptable-cats"></h3>
      <a href="/cats">
      <img src="https://images.pexels.com/photos/156934/pexels-photo-156934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="cat image">
      </a>
      <p id="cat-name"></p>
    </div>
  
{{!-- <div id="donations" class="card">
  <h2>Please mail or drop off donations at:</h2>
  <h2>4005 River Run Drive, Greensboro, NC 27504</h2> 
  <h2>Thank you for your support!</h2>
</div>

<div id="contact" class="card">
  <h2>Contact Information<br>
      Email: furrypets@gmail.com
      Phone: 919.555.2244 </h2>
</div> --}}


















               
   <!-- <content>
   <div id="about-us" class="card">
    <h2>About Us</h2>
      <img src="https://imgur.com/yb5DFf3.png" alt="image of cats and dogs">
      <p>
        "Find a Furry Friend" is an adoption website for individuals who would like to adopt either a cat or a dog. You may browse images of pets that are available or you may post a picture of a pet you need to rehome. We also accept monetary donations as well as new but unused pet supplies.
      </p>
    </div>
    <div id="cats" class="card">
      <h2>Cats for Adoption</h2>
     <p>
         <h2>Below you will find cats that need a new home. </h2>
     <img src="https://imgur.com/yDyJuI5.png" alt="cat image"> 
       
     </p>
    </div>
    <div id="dogs" class="card">
      <h2>Dogs for Adoption</h2>
      
        <h2>Below you will find dogs that need a new home.</h2>
        <img src="https://imgur.com/oxMaLwI.png" alt="dog image">
      <p>
      </p>
    </div>
    <div id="donations" class="card">
      <h2>Donations</h2>
        Please mail or drop off pet supplies at:
         
        4005 River Run Drive
         Greensboro, NC 27504
      
      <p>
        email:  ffpets@gmail.com<br>
        (phone): 919-555-2244
      </p>
    </div>
   
  </content> -->
      

   <!-- </div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="./assets/script.js"></script>