<div>
  <h1 class="text-center">Pets for Adoption</h1>
</div>

{{#each postpets as |postpet| }}
 <form class="form new-postpet-form">
  <div class="form-group">
    <div class="col-md-6">
    
    <h2>
      <a href="/postpet/{{postpet.id}}">{{postpet.title}}</a>
    </h2>
    
    <p>
     {{postpet.description}}
    </p>
    <p>Created on {{format_date postpet.date_created}}</p> 
  </div>
  </div>
</div>
{{/each}}

<script src ="./js/profile.js"></script>