

    {{#each postpets as |postpet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/postpet/{{postpet.id}}">{{postpet.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{postpet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
</div> 



<script src="./js/profile.js"></script>

